* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #EBEBEB;
    font-weight: 300;
    outline: none;
}

html {
    height: 100%;
}

body {
    background-color: var(--clr-body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    background-color: #0C0C0C;
    border-radius: 10px;
    width: 30em;
    padding: 20px;
    box-shadow: -1px  1px 5px #09090B;
    margin-top: 20px;
    color: white;
    margin-bottom: 40px;
}

#parteCima {
    text-align: center;
    padding: 20px 0px;
}

#parteCima h1 {
    font-size: 2em;
    font-weight: 700;
    color: #BCBFC8;
    margin-bottom: 10px;
}

#parteCima input {
    background-color: #0B0B0B;
    border: 1px solid var(--clr-border);
    border-radius: 5px;
    font-size: 1rem;
    width: 20em;
    height: 37px;
    margin-bottom: 0px;
}

#nome-tarefa {
    padding: 10px;
}

::placeholder {
    color: #BCBFC8;
}

#parteCima button {
    background: var(--clr-bg);
    color: white;
    border: 1px solid var(--clr-border-btn);
    font-size: 0.8rem;
    font-weight: 500;
    height: 37px;
    border-radius: 5px;
    padding: 0.6rem;
    cursor: pointer;
}

#lista-tarefas {
    margin: 10px 0;
}

#lista-tarefas div{
    background-color: rgb(15, 15, 15);
    padding: 10px 15px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-between;
}

#lista-tarefas span {
    display: flex;
}

#lista-tarefas button {
    background: none;
    color: var(--clr-text);
    font-size: 1rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

#lista-tarefas p {
    margin-left: 10px;
    color: #7A8094;
    font-size: 1rem;
}

.conteudo-oculto {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.escolha-tema > fieldset {
    border: 0;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background: #000;
    padding: 1rem 3rem;
    border-radius: 0 0 1rem 1rem;
}

.escolha-tema input[type="radio"] {
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.escolha-tema input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.escolha-tema input[type="radio"]#rosa {
    --radio-color: #661436;
}

.escolha-tema input[type="radio"]#azul {
    --radio-color: #114D7E;
}

.escolha-tema input[type="radio"]#verde {
    --radio-color: #2E4D3A;
}

.escolha-tema input[type="radio"]#amarelo {
    --radio-color: #E4572E;
}

:root:has(#rosa:checked) {
    --clr-body-bg: #330A1B;
    --clr-bg: #661436;
    --clr-text: #661436;
    --clr-border-btn: #661436;
    --clr-border: #3a3a3a;
}

:root:has(#azul:checked) {
    --clr-body-bg: #072136;
    --clr-bg: #114D7E;
    --clr-text: #114D7E;
    --clr-border-btn: #114D7E;
    --clr-border: #3a3a3a;
}

:root:has(#verde:checked) {
    --clr-body-bg: #17261C;
    --clr-bg: #2E4D3A;
    --clr-text: #2E4D3A;
    --clr-border-btn: #2E4D3A;
    --clr-border: #3a3a3a;
}

:root:has(#amarelo:checked) {
    --clr-body-bg: #7E2A10;
    --clr-bg: #E4572E;
    --clr-text: #E4572E;
    --clr-border-btn: #E4572E;
    --clr-border: #3a3a3a;
}