
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #EBEBEB;
    font-weight: 300;
    outline: none;
}

html {
    height: 100%;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    background-color: #0C0C0C;
    border-radius: 10px;
    width: 30em;
    padding: 20px;
    box-shadow: -1px  1px 5px #09090B;
}

#parteCima {
    text-align: center;
    padding: 20px 0;
}

#parteCima h1 {
    font-size: 2em;
    font-weight: 700;
    color: #BCBFC8;
    margin-bottom: 20px;
}

#parteCima input {
    background-color: #0B0B0B;
    border: 1px solid #A62639;
    border-radius: 5px;
    width: 20em;
    height: 37px;
    margin-bottom: 0.9em;
}

#nome-tarefa {
    padding: 10px;
}

::placeholder {
    color: #BCBFC8;
}

#parteCima button {
    background-color: #A62639;
    color: white;
    font-size: 0.8rem;
    border: 1px solid #A62639;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#parteCima button:hover {
    background-color: #AE3A4B;
    color: white;
    border: 1px solid #AE3A4B;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#lista-tarefas div{
    width: 26em;
    padding: 10px 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lista-tarefas span {
    display: flex;
}

#lista-tarefas button {
    background: none;
    color: #AE3A4B;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
}

#lista-tarefas button:hover {
    background: none;
    border: none;
    color: #A62639;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
}

#lista-tarefas p {
    margin-left: 10px;
    color: #7A8094;
    font-size: 1rem;
}